<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- configuracion para usar un Full Hibernate -->
        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <!-- Assume test is the database name -->
        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/pom_hotel?serverTimezone=UTC
        </property>
        <property name = "hibernate.connection.username">
            root
        </property>
        <property name = "hibernate.connection.password">
            secret1234
        </property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.pomhotel.booking.application.domain.entities.BookingsEntity"/>
        <mapping class="com.pomhotel.booking.application.domain.entities.ClientsEntity"/>
        <mapping class="com.pomhotel.booking.application.domain.entities.LoginsEntity"/>
        <mapping class="com.pomhotel.booking.application.domain.entities.PreferencesEntity"/>
        <mapping class="com.pomhotel.booking.application.domain.entities.RoomsEntity"/>
        <mapping class="com.pomhotel.booking.application.domain.entities.RoomtypesEntity"/>
    </session-factory>
</hibernate-configuration>