<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta name = "viewport" content = "initial-scale = 1.0">

<head>
    <meta charset="UTF-8"> 
    <meta name = "viewport" content = "initial-scale = 1.0">
    
    <title>PÁGINA ERROR</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/500.css}">

</head>
<body>
    <div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
        <spaguetti>
            <fork></fork>
            <meat></meat>
            <pasta></pasta>
            <plate></plate>
        </spaguetti>
    </div>

    <div class="container-flex position-static text-center border border-primary">
        <a role="button" class="btn btn-primary btn-lg btn-block" th:href="@{~/}">Back</a>
    </div>
<script type="text/javascript" th:src="@{~/js/500.js}"></script>

</body>
</html>
