<footer>
    <div class="footer-bottom">
        <div class=" text-center">
            <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
            <p>© Copyright <span th:text="${projectname}"></span><br>
                Last Update <span th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}">Aqui va LastUpdate</span><br>
                Created with the <a href="https://youtu.be/m30QEZG8aQA" target="_blank" style="text-decoration: none; color: inherit;">background </a>
                                <a href="https://youtu.be/kwKrNtq9gHI" target="_blank" style="text-decoration: none; color: inherit;">sessions </a>
                                of 
                                <a href="https://youtu.be/1_t6OpFw2Vc" target="_blank" style="text-decoration: none; color: inherit;">Carl Cox</a>
            </p>
            <p></p>
        </div>
    </div>
</footer>